.title {
    border-left: 5px solid;
    margin: 5% auto;
    width: 70%;
}

.title__text {
    padding-left: 10px;
}

.list {
    width: 70%;
    margin: 0 auto;
}

.list__table {
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    width: 100%;
    table-layout: fixed;
}

.table__row--header {
    border: 1px solid #E1E1E1;
    border-bottom: 3px solid #E1E1E1;
}

.table__row {
    border: 1px solid #E1E1E1;
}

.table__header {
    text-align: center;
    color: #737373;
    padding: 15px;
    margin: 0 30px;
}

.table__data {
    text-align: center;
    color: #737373;
    padding: 15px;
    margin: 0 30px;
}

.table__data--detail {
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: none;
    cursor: pointer;
}