.message__detail {
    padding-top: 20%;
}

.detail {
    text-align: center;
}

.form__verify {
    margin: 0 auto;
    width: 50%;
}

.form__button {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.form__link {
    text-decoration: none;
    color: black;
}

.send__link {
    text-align: center;
    margin: 30px auto;
}

.send__link a {
    text-decoration: none;
    color: #0073CC;
}

.message__status {
    text-align: center;
    color: red;
}